<!DOCTYPE html>
<html>
<head>
 	<title>Clifton Arts Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="/favicon.gif" />

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render 'shared/navigation' %>

	<div id="wrapper" class="container">
		<div class="container-fluid">
			<div class="row">
        		<div class="col-xs-12">
		          <% flash.each do |name, msg| -%>
		            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
		          <% end -%>
        		</div>
      		</div><!-- end of row-->

			<%= yield %>

		</div><!-- end of .container-fluid -->
	</div><!-- end of #wrapper -->
	<footer style="height: 3em"></footer>

</body>
</html>
