<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form">
  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :title %>
    </div><!-- end of col -->
    <div class="form-group col-md-5">
      <%= f.text_field :title, :size => nil, :placeholder => 'Title', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :first_name %>
    </div><!-- end of col -->
    <div class="form-group col-md-5">
      <%= f.text_field :first_name, :size => nil, :placeholder => 'First name', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :last_name %>
    </div><!-- end of col -->
    <div class="form-group col-md-5">
      <%= f.text_field :last_name, :size => nil, :placeholder => 'Last name', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :address %>
    </div><!-- end of col -->
    <div class="form-group col-md-6">
      <%= f.text_field :address, :size => nil, :placeholder => 'Address', :class => 'form-control' %>
    </div><!-- end of col -->
    <div class="form-group col-md-2">
      <%= f.label :post_code %>
    </div><!-- end of col -->
    <div class="form-group col-md-2">
      <%= f.text_field :post_code, :size => nil, :placeholder => 'Postcode', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :home_telephone_number %>
    </div><!-- end of col -->
    <div class="form-group col-md-4">
      <%= f.text_field :home_telephone_number, :size => nil, :placeholder => 'Home telephone number', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :mobile_telephone_number %>
    </div><!-- end of col -->
    <div class="form-group col-md-4">
      <%= f.text_field :mobile_telephone_number, :size => nil, :placeholder => 'Mobile telephone number', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :email %>
    </div><!-- end of col -->
    <div class="form-group col-md-6">
      <%= f.text_field :email, :size => nil, :placeholder => 'E-mail', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :website %>
    </div><!-- end of col -->
    <div class="form-group col-md-6">
      <%= f.text_field :website, :size => nil, :placeholder => 'Website', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :age_group %>
    </div><!-- end of col -->
    <div class="form-group col-md-4">
      <%= f.select :age_group, ['Under 30','31-50','51-70','Over 70'], :prompt => 'Select One' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :term_address %>
    </div><!-- end of col -->
    <div class="form-group col-md-6">
      <%= f.text_field :term_address, :size => nil, :placeholder => 'Term-time address', :class => 'form-control' %>
    </div><!-- end of col -->
    <div class="form-group col-md-2">
      <%= f.label :term_post_code %>
    </div><!-- end of col -->
    <div class="form-group col-md-2">
      <%= f.text_field :term_post_code, :size => nil, :placeholder => 'Term-time postcode', :class => 'form-control' %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <hr>
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
        <label>Thursdays:</label>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :coffee %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :coffee %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :projector %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :projector %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <hr>
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
        <label>Annual Exhibition:</label>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :data_collection %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :data_collection %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :stewarding %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :stewarding %>
    </div><!-- end of col -->
  </div><!-- end of row -->
  
  <div class="row">
    <div class="form-group col-md-2">
        <label>&nbsp;</label>
      </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :picture_hanging %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :picture_hanging %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :portering %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :portering %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :general %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :general %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <hr>
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
        <label>&nbsp;</label>
    </div><!-- end of col -->
    <div class="form-group col-md-3">
      <%= f.label :website_social_media %>
      </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :website_social_media %>
      </div><!-- end of col -->
    <div class="form-group col-md-3">
      <%= f.label :painting_sessions %>
      </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :painting_sessions %>
    </div><!-- end of col -->
  </div><!-- end of row -->

  <div class="row">
    <div class="form-group col-md-2">
        <label>&nbsp;</label>
      </div><!-- end of col -->
    <div class="form-group col-md-3">
      <%= f.label :committee_member %>
      </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :committee_member %>
      </div><!-- end of col -->
    <div class="form-group col-md-3">
      <%= f.label :general_help %>
      </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :general_help %>
      </div><!-- end of col -->
    </div><!-- end of row -->
  <div class="row">
    <hr>
    </div><!-- end of row -->
  <div class="row">
    <div class="form-group col-md-2">
        <label>Contact:</label>
      </div><!-- end of col -->
    <div class="form-group col-md-2">
        <%= f.label :online_and_email %>
      </div><!-- end of col -->
    <div class="form-group col-md-1">
        <%= f.check_box :online_and_email %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.label :post %>
    </div><!-- end of col -->
    <div class="form-group col-md-1">
      <%= f.check_box :post %>
    </div><!-- end of col -->
  </div><!-- end of row -->
  <div class="row">
    <hr>
  </div><!-- end of row -->
  <div class="row">
    <div class="col-md-offset-9 col-md-1">
      <%= f.submit  "Save", class: "btn btn-lg btn-success" %>
    </div><!-- end of col -->
  </form>
  
<% end %>
