<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :home_telephone_number %><br />
    <%= f.text_field :home_telephone_number %>
  </div>
  <div class="field">
    <%= f.label :mobile_telephone_number %><br />
    <%= f.text_field :mobile_telephone_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :age_group %><br />
    <%= f.text_field :age_group %>
  </div>
  <div class="field">
    <%= f.label :term_address %><br />
    <%= f.text_field :term_address %>
  </div>
  <div class="field">
    <%= f.label :term_post_code %><br />
    <%= f.text_field :term_post_code %>
  </div>
  <div class="field">
    <%= f.label :coffee %><br />
    <%= f.check_box :coffee %>
  </div>
  <div class="field">
    <%= f.label :projector %><br />
    <%= f.check_box :projector %>
  </div>
  <div class="field">
    <%= f.label :data_collection %><br />
    <%= f.check_box :data_collection %>
  </div>
  <div class="field">
    <%= f.label :stewarding %><br />
    <%= f.check_box :stewarding %>
  </div>
  <div class="field">
    <%= f.label :picture_hanging %><br />
    <%= f.check_box :picture_hanging %>
  </div>
  <div class="field">
    <%= f.label :portering %><br />
    <%= f.check_box :portering %>
  </div>
  <div class="field">
    <%= f.label :general %><br />
    <%= f.check_box :general %>
  </div>
  <div class="field">
    <%= f.label :website_social_media %><br />
    <%= f.check_box :website_social_media %>
  </div>
  <div class="field">
    <%= f.label :painting_sessions %><br />
    <%= f.check_box :painting_sessions %>
  </div>
  <div class="field">
    <%= f.label :committee_member %><br />
    <%= f.check_box :committee_member %>
  </div>
  <div class="field">
    <%= f.label :general_help %><br />
    <%= f.check_box :general_help %>
  </div>
  <div class="field">
    <%= f.label :online_and_email %><br />
    <%= f.check_box :online_and_email %>
  </div>
  <div class="field">
    <%= f.label :post %><br />
    <%= f.check_box :post %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
