<div class="row">
        <div class="col-md-9">
            <h1>Members</h1>
            <p>This is list of Members in the database.</p>
        </div>
        <div class="col-md-3">
            <br>
            <%= link_to 'Create Member', new_member_path, class:'btn btn-lg btn-primary' %>
        </div>
    </div><!-- end of row -->
    <div class="row">
        <hr>
    </div><!-- end of row -->
<% @members.each do |member| %>
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <p><%= member.first_name %>&nbsp;<%= member.last_name %></p>
        </div>
        <div class="col-md-1">
            <%= link_to 'View', member, class: 'btn btn-xs btn-success' %>
        </div><!-- end of col -->           
        <div class="col-md-1">
            <%= link_to 'Edit', edit_member_path(member), class: 'btn btn-xs btn-warning' %></td>
        </div><!-- end of col -->           
        <div class="col-md-1">
            <%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
        </div><!-- end of col -->
    </div><!-- end of row -->          
<% end %>
</div>
