<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @member.title %>
</p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>Post code:</b>
  <%= @member.post_code %>
</p>

<p>
  <b>Home telephone number:</b>
  <%= @member.home_telephone_number %>
</p>

<p>
  <b>Mobile telephone number:</b>
  <%= @member.mobile_telephone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Website:</b>
  <%= @member.website %>
</p>

<p>
  <b>Age group:</b>
  <%= @member.age_group %>
</p>

<p>
  <b>Term address:</b>
  <%= @member.term_address %>
</p>

<p>
  <b>Term post code:</b>
  <%= @member.term_post_code %>
</p>

<p>
  <b>Coffee:</b>
  <%= @member.coffee %>
</p>

<p>
  <b>Projector:</b>
  <%= @member.projector %>
</p>

<p>
  <b>Data collection:</b>
  <%= @member.data_collection %>
</p>

<p>
  <b>Stewarding:</b>
  <%= @member.stewarding %>
</p>

<p>
  <b>Picture hanging:</b>
  <%= @member.picture_hanging %>
</p>

<p>
  <b>Portering:</b>
  <%= @member.portering %>
</p>

<p>
  <b>General:</b>
  <%= @member.general %>
</p>

<p>
  <b>Website social media:</b>
  <%= @member.website_social_media %>
</p>

<p>
  <b>Painting sessions:</b>
  <%= @member.painting_sessions %>
</p>

<p>
  <b>Committee member:</b>
  <%= @member.committee_member %>
</p>

<p>
  <b>General help:</b>
  <%= @member.general_help %>
</p>

<p>
  <b>Online and email:</b>
  <%= @member.online_and_email %>
</p>

<p>
  <b>Post:</b>
  <%= @member.post %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
